a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#button_43acb83e { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_43acb83e:hover { background-color:#7A8591;  }
#button_43acb83e:hover span { color:#FFFFFF; }
#button_310cdbf5 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_310cdbf5:hover { background-color:#7A8591;  }
#button_310cdbf5:hover span { color:#FFFFFF; }
#button_bc07bb2 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_bc07bb2:hover { background-color:#7A8591;  }
#button_bc07bb2:hover span { color:#FFFFFF; }
#button_323b6414 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_323b6414:hover { background-color:#7A8591;  }
#button_323b6414:hover span { color:#FFFFFF; }
#button_2f8bac54 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_2f8bac54:hover { background-color:#7A8591;  }
#button_2f8bac54:hover span { color:#FFFFFF; }
#button_2973da70 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#464BBB; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_2973da70:hover { background-color:#7A8591;  }
#button_2973da70:hover span { color:#FFFFFF; }
#button_40f71978 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:270px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_40f71978:hover { background-color:#7A8591;  }
#button_40f71978:hover span { color:#FFFFFF; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_45abb6c3 { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:53px; max-width:1024px; background:none; position: fixed; z-index: 3000; }
#container_62cab240 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#3A5068; position: fixed; z-index: 3000; }
.textstyle2 { text-align:left; }
#button_43acb83e_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_310cdbf5_padding { margin: 10px; display: block;  }
#button_bc07bb2_padding { margin: 10px; display: block;  }
#button_323b6414_padding { margin: 10px; display: block;  }
#button_2f8bac54_padding { margin: 10px; display: block;  }
#container_4d5376c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_373652be { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:236px; background-color:#FFFFFF; background-image: url(rc_images/notebook_small.jpg); background-position:bottom left; background-size:cover;  }
#container_373652be_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_6426444b { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.6);  }
#container_6426444b_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_71a7ebef { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_71a7ebef_padding { margin: 10px; display: block;  }
#container_57c4570b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_57c4570b_padding { margin: 10px; display: block;  }
#container_5545c291 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_5545c291_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.5;  }
#container_75bad688 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:380px; background:none;  }
#container_75bad688_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#img_19559da3 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle11 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_79a30d7d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#3A5068;  }
#container_79a30d7d_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#button_2973da70_padding { margin: 10px; display: block;  }
#container_2d0cc218 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2d0cc218_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
.textstyle15 { text-align:right; }
#button_40f71978_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 800px)
{
		#container_5545c291 { width:100%;  }
		#container_75bad688 { width:100%;  }
		#img_19559da3 { display:none;  }
}
@media only screen and (max-width: 750px)
{
		#container_6426444b { width:70%; height:auto;  }
}
@media only screen and (max-width: 660px)
{
		#container_6426444b { width:80%; height:auto;  }
}
@media only screen and (max-width: 640px)
{
		#container_45abb6c3 { position: static; }
}
@media only screen and (max-width: 400px)
{
		#button_43acb83e { width:100%;  }
		#button_310cdbf5 { width:100%;  }
		#button_bc07bb2 { width:100%;  }
		#button_323b6414 { width:100%;  }
		#button_2f8bac54 { width:100%;  }
}
