a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#button_55674728 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_55674728:hover { background-color:#7A8591;  }
#button_55674728:hover span { color:#FFFFFF; }
#button_1cad1a91 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_1cad1a91:hover { background-color:#7A8591;  }
#button_1cad1a91:hover span { color:#FFFFFF; }
#button_4ab79b8 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_4ab79b8:hover { background-color:#7A8591;  }
#button_4ab79b8:hover span { color:#FFFFFF; }
#button_757fc71c { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_757fc71c:hover { background-color:#7A8591;  }
#button_757fc71c:hover span { color:#FFFFFF; }
#button_3f964b56 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_3f964b56:hover { background-color:#7A8591;  }
#button_3f964b56:hover span { color:#FFFFFF; }
#button_40bc1880 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_40bc1880:hover { background-color:#7A8591;  }
#button_40bc1880:hover span { color:#FFFFFF; }
#table_55b54d88 th { border: 1px solid #8C8C8C;  } 
#table_55b54d88 td { border: 1px solid #8C8C8C;  } 
#button_36a93bf7 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#464BBB; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_36a93bf7:hover { background-color:#7A8591;  }
#button_36a93bf7:hover span { color:#FFFFFF; }
#button_230c5dc6 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:270px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_230c5dc6:hover { background-color:#7A8591;  }
#button_230c5dc6:hover span { color:#FFFFFF; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_63ddebe7 { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:53px; max-width:1024px; background:none; position: fixed; z-index: 3000; }
#container_27960a10 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#3A5068; position: fixed; z-index: 3000; }
.textstyle2 { text-align:left; }
#button_55674728_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_1cad1a91_padding { margin: 10px; display: block;  }
#button_4ab79b8_padding { margin: 10px; display: block;  }
#button_757fc71c_padding { margin: 10px; display: block;  }
#button_3f964b56_padding { margin: 10px; display: block;  }
#button_40bc1880_padding { margin: 10px; display: block;  }
#container_2dc44 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_46abebbb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:236px; background-color:#FFFFFF; background-image: url(rc_images/notebook_small.jpg); background-position:bottom left; background-size:cover;  }
#container_46abebbb_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_49098cb6 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.6);  }
#container_49098cb6_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_47b8a20e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_47b8a20e_padding { margin: 10px; display: block;  }
#container_429b9fb3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_429b9fb3_padding { margin: 10px; display: block;  }
#container_935249b { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:99%; min-height:640px; background:none; border: 1px solid #404040;  }
#container_935249b_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
#table_55b54d88 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:580px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_3198ceaa {  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_156dcde7 {  }
#cell_3e8dbe4 {  }
#cell_71ad055a {  }
#cell_22bff3a2 {  }
#cell_177c2b57 {  }
#cell_5355ec6 {  }
#cell_6762d277 {  }
#cell_892ebb7 {  }
#cell_598df6e9 {  }
#cell_7a1f4ea1 {  }
#cell_28553e3e {  }
#cell_70954eb3 {  }
#cell_756977fa {  }
#cell_12077a6 {  }
#cell_1ccbda6e {  }
#cell_433edc8a {  }
#cell_64589801 {  }
#cell_52bab2b0 {  }
#cell_149edc9c {  }
#cell_1e24092a {  }
#cell_78250f0d {  }
#cell_632d7c06 {  }
#cell_1a5db499 {  }
#cell_76e667a9 {  }
#cell_824b883 {  }
#cell_6cea8c18 {  }
#cell_1287e519 {  }
#cell_9022bbf {  }
#cell_1287e519 {  }
#cell_1287e519 {  }
#cell_1287e519 {  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.5;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
.textstyle11 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_4738a292 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#3A5068;  }
#container_4738a292_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#button_36a93bf7_padding { margin: 10px; display: block;  }
#container_37d57df3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_37d57df3_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
.textstyle15 { text-align:right; }
#button_230c5dc6_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#container_935249b { width:100%;  }
}
@media only screen and (max-width: 750px)
{
		#container_49098cb6 { width:70%; height:auto;  }
}
@media only screen and (max-width: 660px)
{
		#container_49098cb6 { width:80%; height:auto;  }
}
@media only screen and (max-width: 640px)
{
		#container_63ddebe7 { position: static; }
}
@media only screen and (max-width: 400px)
{
		#button_55674728 { width:100%;  }
		#button_1cad1a91 { width:100%;  }
		#button_4ab79b8 { width:100%;  }
		#button_757fc71c { width:100%;  }
		#button_3f964b56 { width:100%;  }
		#button_40bc1880 { width:100%;  }
}
