a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#button_6caa06d { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_6caa06d:hover { background-color:#7A8591;  }
#button_6caa06d:hover span { color:#FFFFFF; }
#button_621689c4 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_621689c4:hover { background-color:#7A8591;  }
#button_621689c4:hover span { color:#FFFFFF; }
#button_2f2394c1 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_2f2394c1:hover { background-color:#7A8591;  }
#button_2f2394c1:hover span { color:#FFFFFF; }
#button_66ee2d23 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_66ee2d23:hover { background-color:#7A8591;  }
#button_66ee2d23:hover span { color:#FFFFFF; }
#button_3272e6cb { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_3272e6cb:hover { background-color:#7A8591;  }
#button_3272e6cb:hover span { color:#FFFFFF; }
#button_36a93bf7 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#464BBB; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_36a93bf7:hover { background-color:#7A8591;  }
#button_36a93bf7:hover span { color:#FFFFFF; }
#button_230c5dc6 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:270px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_230c5dc6:hover { background-color:#7A8591;  }
#button_230c5dc6:hover span { color:#FFFFFF; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_5cd7e4e4 { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:53px; max-width:1024px; background:none; position: fixed; z-index: 3000; }
#container_3d7b0543 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#3A5068; position: fixed; z-index: 3000; }
.textstyle2 { text-align:left; }
#button_6caa06d_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_621689c4_padding { margin: 10px; display: block;  }
#button_2f2394c1_padding { margin: 10px; display: block;  }
#button_66ee2d23_padding { margin: 10px; display: block;  }
#button_3272e6cb_padding { margin: 10px; display: block;  }
#container_2dc44 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_46abebbb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:236px; background-color:#FFFFFF; background-image: url(rc_images/notebook_small.jpg); background-position:bottom left; background-size:cover;  }
#container_46abebbb_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_49098cb6 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.6);  }
#container_49098cb6_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_47b8a20e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_47b8a20e_padding { margin: 10px; display: block;  }
#container_429b9fb3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_429b9fb3_padding { margin: 10px; display: block;  }
#container_935249b { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:99%; min-height:640px; background:none; border: 1px solid #404040;  }
#container_935249b_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.5;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
.textstyle10 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_4738a292 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#3A5068;  }
#container_4738a292_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#button_36a93bf7_padding { margin: 10px; display: block;  }
#container_37d57df3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_37d57df3_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
.textstyle14 { text-align:right; }
#button_230c5dc6_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#container_935249b { width:100%;  }
}
@media only screen and (max-width: 750px)
{
		#container_49098cb6 { width:70%; height:auto;  }
}
@media only screen and (max-width: 660px)
{
		#container_49098cb6 { width:80%; height:auto;  }
}
@media only screen and (max-width: 640px)
{
		#container_5cd7e4e4 { position: static; }
}
@media only screen and (max-width: 400px)
{
		#button_6caa06d { width:100%;  }
		#button_621689c4 { width:100%;  }
		#button_2f2394c1 { width:100%;  }
		#button_66ee2d23 { width:100%;  }
		#button_3272e6cb { width:100%;  }
}
