a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#button_5a3d431b { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_5a3d431b:hover { background-color:#7A8591;  }
#button_5a3d431b:hover span { color:#FFFFFF; }
#button_526a9cdd { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_526a9cdd:hover { background-color:#7A8591;  }
#button_526a9cdd:hover span { color:#FFFFFF; }
#button_4473df6d { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_4473df6d:hover { background-color:#7A8591;  }
#button_4473df6d:hover span { color:#FFFFFF; }
#button_5d96740 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_5d96740:hover { background-color:#7A8591;  }
#button_5d96740:hover span { color:#FFFFFF; }
#button_7cb9c60c { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_7cb9c60c:hover { background-color:#7A8591;  }
#button_7cb9c60c:hover span { color:#FFFFFF; }
#button_5430907c { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_5430907c:hover { background-color:#7A8591;  }
#button_5430907c:hover span { color:#FFFFFF; }
#button_54d940e3 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_54d940e3:hover { background-color:#7A8591;  }
#button_54d940e3:hover span { color:#FFFFFF; }
#button_4b8833a { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_4b8833a:hover { background-color:#7A8591;  }
#button_4b8833a:hover span { color:#FFFFFF; }
#button_6f28f537 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_6f28f537:hover { background-color:#7A8591;  }
#button_6f28f537:hover span { color:#FFFFFF; }
#button_38b2d1f2 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_38b2d1f2:hover { background-color:#7A8591;  }
#button_38b2d1f2:hover span { color:#FFFFFF; }
#button_381e378b { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_381e378b:hover { background-color:#7A8591;  }
#button_381e378b:hover span { color:#FFFFFF; }
#button_48916986 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_48916986:hover { background-color:#7A8591;  }
#button_48916986:hover span { color:#FFFFFF; }
#button_74acef95 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_74acef95:hover { background-color:#7A8591;  }
#button_74acef95:hover span { color:#FFFFFF; }
#button_15f29634 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_15f29634:hover { background-color:#7A8591;  }
#button_15f29634:hover span { color:#FFFFFF; }
#button_657642d1 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_657642d1:hover { background-color:#7A8591;  }
#button_657642d1:hover span { color:#FFFFFF; }
#button_31c3ede7 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_31c3ede7:hover { background-color:#7A8591;  }
#button_31c3ede7:hover span { color:#FFFFFF; }
#button_238231e9 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_238231e9:hover { background-color:#7A8591;  }
#button_238231e9:hover span { color:#FFFFFF; }
#button_4c93732e { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_4c93732e:hover { background-color:#7A8591;  }
#button_4c93732e:hover span { color:#FFFFFF; }
#button_7cc28000 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 5px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_7cc28000:hover { background-color:#7A8591;  }
#button_7cc28000:hover span { color:#FFFFFF; }
#button_6036d6 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_6036d6:hover { background-color:#7A8591;  }
#button_6036d6:hover span { color:#FFFFFF; }
#table_61d4c6b3 th { border: 1px solid #8C8C8C;  } 
#table_61d4c6b3 td { border: 1px solid #8C8C8C;  } 
#button_74c5dc35 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#464BBB; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_74c5dc35:hover { background-color:#7A8591;  }
#button_74c5dc35:hover span { color:#FFFFFF; }
#button_19edd504 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:270px; height:38px; background-color:#3A5068; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_19edd504:hover { background-color:#7A8591;  }
#button_19edd504:hover span { color:#FFFFFF; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_7446523 { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:53px; max-width:1024px; background:none; position: fixed; z-index: 3000; }
#container_23a4c632 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#3A5068; position: fixed; z-index: 3000; }
.textstyle2 { text-align:left; }
#button_5a3d431b_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_526a9cdd_padding { margin: 10px; display: block;  }
#button_4473df6d_padding { margin: 10px; display: block;  }
#button_5d96740_padding { margin: 10px; display: block;  }
#button_7cb9c60c_padding { margin: 10px; display: block;  }
#container_eaea99e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_6a5612c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:236px; background-color:#FFFFFF; background-image: url(rc_images/notebook_small.jpg); background-position:bottom left; background-size:cover;  }
#container_6a5612c4_padding { margin: 10px; display: block;  }
#anchor_69be48c0 { vertical-align: bottom; position:relative; display: inline-block;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_1de1103f { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.6);  }
#container_1de1103f_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_22e4a421 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_22e4a421_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_470ac4dd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:306px; background:none;  }
#container_470ac4dd_padding { margin: 10px; display: block;  }
#container_9e8f6cb { vertical-align: top; position:relative; display: inline-block; width:45%; min-height:214px; background:none;  }
#container_9e8f6cb_padding { margin: 10px; display: block;  }
#img_5271cb71 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#container_13c9e25a { vertical-align: top; position:relative; display: inline-block; width:55%; min-height:210px; background-color:#3A5068;  }
#container_13c9e25a_padding { margin: 10px 10px 30px 10px;display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_6568132a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:42px; background-color:#464BBB;  }
#container_6568132a_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle9 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_149e2e75 { vertical-align: top; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:100%; min-height:42px; background-color:#464BBB;  }
#container_149e2e75_padding { margin: 10px; display: block;  }
#container_3e1b6995 { vertical-align: top; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:100%; min-height:42px; background-color:#464BBB;  }
#container_3e1b6995_padding { margin: 10px; display: block;  }
#container_64c6c498 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:77px; background:none;  }
#container_64c6c498_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#anchor_5616e585 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_2ae9fd41 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2ae9fd41_padding { margin: 10px; display: block;  }
#container_518754ee { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_518754ee_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
#container_363ca6fd { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:53px; max-width:1024px; background:none; visibility: hidden; }
#container_2120d1ae { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#3A5068; position: fixed; z-index: 3000; }
#button_5430907c_padding { margin: 10px; display: block;  }
#button_54d940e3_padding { margin: 10px; display: block;  }
#button_4b8833a_padding { margin: 10px; display: block;  }
#button_6f28f537_padding { margin: 10px; display: block;  }
#button_38b2d1f2_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.5;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
#container_6dc7642a { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_6dc7642a_padding { margin: 10px; display: block;  }
.textstyle15 { text-align:right; }
#img_62cf37c8 { vertical-align: bottom; position:relative; display: inline-block; width:91%; background:none;  }
#container_439e7c9a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:77px; background:none;  }
#container_439e7c9a_padding { margin: 10px; display: block;  }
#anchor_6fc61b5 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_4e6f07ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4e6f07ae_padding { margin: 10px; display: block;  }
#container_5b94d7a6 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_5b94d7a6_padding { margin: 10px; display: block;  }
#container_3680eb9 { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:53px; max-width:1024px; background:none; visibility: hidden; }
#container_784852be { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#3A5068; position: fixed; z-index: 3000; }
#button_381e378b_padding { margin: 10px; display: block;  }
#button_48916986_padding { margin: 10px; display: block;  }
#button_74acef95_padding { margin: 10px; display: block;  }
#button_15f29634_padding { margin: 10px; display: block;  }
#button_657642d1_padding { margin: 10px; display: block;  }
#container_19c09732 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:380px; background:none;  }
#container_19c09732_padding { margin: 10px; display: block;  }
#img_7ae82997 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_901e8c0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:77px; background:none;  }
#container_901e8c0_padding { margin: 10px; display: block;  }
#anchor_62259c78 { vertical-align: bottom; position:relative; display: inline-block;  }
.textstyle16 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_24f5362d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_24f5362d_padding { margin: 10px; display: block;  }
#container_11540ca1 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:99%; min-height:640px; background:none; border: 1px solid #404040;  }
#container_11540ca1_padding { margin: 10px; display: block;  }
#container_68473273 { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:53px; max-width:1024px; background:none; visibility: hidden; }
#container_557d032a { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#3A5068; position: fixed; z-index: 3000; }
#button_31c3ede7_padding { margin: 10px; display: block;  }
#button_238231e9_padding { margin: 10px; display: block;  }
#button_4c93732e_padding { margin: 10px; display: block;  }
#button_7cc28000_padding { margin: 10px; display: block;  }
#button_6036d6_padding { margin: 10px; display: block;  }
#table_61d4c6b3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:99%; height:453px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_11e60731 {  }
#cell_7c4b71e {  }
#cell_722b2bda {  }
#cell_76c03d5e {  }
#cell_55a9f057 {  }
#cell_8b63d45 {  }
#cell_478d810d {  }
#cell_8db7367 {  }
#cell_626e4233 {  }
#cell_5e6975ff {  }
#cell_76372fca {  }
#cell_3ca701ed {  }
#cell_62a75dad {  }
#cell_53cd3756 {  }
#cell_1fd37729 {  }
#cell_593f5171 {  }
#cell_250929e8 {  }
#cell_6b0ba376 {  }
#cell_6a0088e0 {  }
#cell_5d7cbe12 {  }
#cell_18a53080 {  }
#cell_717efdca {  }
#cell_e35a6f1 {  }
#cell_283d0531 {  }
#cell_38dcaec {  }
#cell_66675b11 {  }
#cell_283d0531 {  }
#cell_283d0531 {  }
#container_5abfa5b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#3A5068;  }
#container_5abfa5b_padding { margin: 10px; display: block;  }
#button_74c5dc35_padding { margin: 10px; display: block;  }
#container_52758fb0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_52758fb0_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle18 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#button_19edd504_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#container_9e8f6cb { width:100%;  }
		#container_13c9e25a { width:100%; height:auto;  }
		#container_518754ee { width:100%;  }
		#container_6dc7642a { width:100%;  }
		#img_62cf37c8 { display:none;  }
		#container_5b94d7a6 { width:100%;  }
		#container_19c09732 { width:100%;  }
		#img_7ae82997 { display:none;  }
		#container_11540ca1 { width:100%;  }
}
@media only screen and (max-width: 750px)
{
		#container_1de1103f { width:70%; height:auto;  }
}
@media only screen and (max-width: 660px)
{
		#container_1de1103f { width:80%; height:auto;  }
}
@media only screen and (max-width: 640px)
{
		#container_7446523 { position: static; }
		#container_363ca6fd { visibility: visible; }
		#container_3680eb9 { visibility: visible; }
		#container_68473273 { visibility: visible; }
}
